PORT=3000
ACCESS_SECRET_KEY="accesss-key"
MONGODB_URL="MONGODB_URL"



# Cloudinray Variables
CLOUDINARY_CLOUD_NAME="CLOUDINARY_CLOUD_NAME"
CLOUDINARY_API_KEY="CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET="CLOUDINARY_API_SECRET"